<launch>
  <arg default="$(find walkie2_description)/urdf/walkie2.xacro" name="model"/>
  <arg default="false" name="gui"/>
  <arg default="$(find walkie2_description)/launch/urdf.rviz" name="rvizconfig"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <arg default="false" name="use_imu"/>
  <arg default="false" name="rviz"/>
  <arg default="/dev/ttyACM0" name="port"/>
  

  <!-- Set up TF for the robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="/joint_states" to="/walkie2/joint_states" />
  </node>

    <!-- Run LaserScan node -->
  <!--<node name="urg_node" pkg="urg_node" type="urg_node">
    <param name="ip_address" value="192.168.5.4"/>
    <param name="frame_id" value="hokuyo"/>
    <param name="angle_max" value="1.57"/>
    <param name="angle_min" value="-1.57"/>
    <remap from="/scan" to="/walkie2/scan"/>
  </node> -->

  <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" output="screen">
    <param name="laser_scan_topic" value="/laser_scan"/>        # topic where the lidar scans are being published
    <param name="odom_topic" value="/odom_rf2o" />              # topic where tu publish the odometry estimations
    <param name="base_frame_id" value="/base_footprint"/>            # frame_id (tf) of the mobile robot base. A tf transform from the laser_frame to the base_frame is mandatory
    <param name="odom_frame_id" value="/odom" />                # frame_id (tf) to publish the odometry estimations    
    <param name="init_pose_from_topic" value="/base_pose_ground_truth" /> # (Odom topic) Leave empty to start at point (0,0)
    <param name="freq" value="6.0"/>                            # Execution frequency.
    <param name="verbose" value="true" />                       # verbose
  </node>

    <node name="urg_node" pkg="urg_node" type="urg_node">
    <param name="ip_address" value="192.168.5.4"/>
    <param name="frame_id" value="hokuyo"/>
    <param name="angle_max" value="1.57"/>
    <param name="angle_min" value="-1.57"/>
    <remap from="/scan" to="/laser_scan"/>
  </node>

  <group if="$(arg rviz)">
    
    <!-- Open rviz for monitoring -->
    <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>

  </group>

  
</launch>

