<launch>
  <arg default="$(find walkie2_description)/urdf/walkie2.xacro" name="model"/>
  <arg default="false" name="gui"/>
  <arg default="$(find walkie2_description)/launch/urdf.rviz" name="rvizconfig"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <arg default="true" name="use_imu"/>
  <arg default="false" name="rviz"/>
  <arg default="/dev/ttyACM0" name="port"/>
  

  <!-- Set up TF for the robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="/joint_states" to="/walkie2/joint_states" />
  </node>

    <!-- Run LaserScan node -->
  <node name="urg_node" pkg="urg_node" type="urg_node">
    <param name="ip_address" value="192.168.5.4"/>
    <param name="frame_id" value="hokuyo"/>
    <param name="angle_max" value="2.35"/>
    <param name="angle_min" value="-2.35"/>
    <remap from="/scan" to="/walkie2/scan"/>
  </node>


<!-- Lidar odometry-->
  <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry">
    <param name="laser_scan_topic" value="/walkie2/scan"/>        # topic where the lidar scans are being published
    <param name="odom_topic" value="/walkie2/odom_rf2o" />        # topic where tu publish the odometry estimations
    <param name="publish_tf" value="false" />                   # wheter or not to publish the tf::transform (base->odom)
    <param name="base_frame_id" value="base_footprint"/>       # frame_id (tf) of the mobile robot base. A tf transform from the laser_frame to the base_frame is mandatory
    <param name="odom_frame_id" value="odom" />                # frame_id (tf) to publish the odometry estimations    
    <param name="init_pose_from_topic" value="" />              # (Odom topic) Leave empty to start at point (0,0)
    <param name="freq" value="8.0"/>                           # Execution frequency.
    <param name="verbose" value="true" />                       # verbose
  </node>


  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
      <arg name="align_depth" value="true" />
      <arg name="color_width" value="1280" />
      <arg name="color_height" value="720" />
      <arg name="color_fps" value="30" />
      <arg name="depth_width" value="1280" />
      <arg name="depth_height" value="720" />
      <arg name="depth_fps" value="30" />
      <arg name="filters" value="pointcloud"/>
  </include>

<node name="mega_pub" pkg="cr3_moveit_control" type="pub_joint_states.py"/>

  <group unless="$(arg use_imu)">
    <node name="bringup" pkg="walkie2_bringup" type="bringup"/>
  </group>

  <group if="$(arg use_imu)">

    <node name="bringup" pkg="walkie2_bringup" type="bringup">
      <remap from="/walkie2/odom" to="/walkie2/odom_raw"/>
    </node>

    <!-- Run serial_node for IMU data -->
    <node name="imu_node" pkg="rosserial_python" type="serial_node.py">
      <param name="port" value="$(arg port)"/>
    </node>

    <!-- Filter and fuse raw imu data -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
          <param name="fixed_frame" value="base_link" />
          <param name="use_mag" value="false" />
          <param name="publish_tf" value="true" />
          <param name="world_frame" value="enu"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_node_name" clear_params="true">
      <rosparam command="load" file="$(find walkie2_bringup)/param/walkie2_ekf.yaml" />
      <remap from="/odometry/filtered" to="/walkie2/odom"/>
    </node>


  </group>

  <group if="$(arg rviz)">
    
    <!-- Open rviz for monitoring -->
    <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>

  </group>

  
</launch>
