<launch>

    <!-- By default, we are not in debug mode -->
    <arg name="debug" default="false" />

    <!-- By default, use the urdf location provided from the package -->
    <param name="robot_description" command="$(find xacro)/xacro $(find cr3_lowlevel_pkg)/urdf/cr3_robot_w_gripper_seperated.xacro" />
    
    <node name="trajectory_follower_server" pkg="cr3_lowlevel_pkg" type="trajectory_follower_server"/>
    <!-- cr3 controller with visual servo-->
    <node name="simple_color_detection" pkg="cr3_lowlevel_pkg" type="simple_color_detection.py"/>
    <node name="visual_servo_service" pkg="cr3_lowlevel_pkg" type="cr3_controller_w_visual_servo_service.py"/>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" respawn="true">
        <param name="video_device" value="/dev/video2" />
        <param name="pixel_format" value="yuyv"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
    </node>

    <include file="$(find cr3_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find cr3_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>>

    <include file="$(find cr3_moveit_config)/launch/moveit_rviz.launch" >
        <arg name="rviz_config" value="$(find cr3_moveit_config)/launch/visual_servo.rviz"/>
        <arg name="debug" value="$(arg debug)"/>
    </include> 

    <!-- publish constraint collision object -->
    <node pkg="cr3_moveit_control" type="constraint_publisher" name="constraint_publisher" output="screen" />

    <!-- launch robot control node for moveit motion planning -->
    <node pkg="cr3_moveit_control" type="pick_service_visual_servo" name="pick_service_visual_servo" output="screen" />


</launch>
