<!-- !!!not use anymore -->

<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find cr3_lowlevel_pkg)/urdf/cr3_robot_w_gripper_seperated.xacro" />

    <node name="trajectory_follower_server" pkg="cr3_lowlevel_pkg" type="trajectory_follower_server">
        <!-- <remap from="/servo_server/cr3_arm_controller/follow_joint_trajectory" to="/cr3_arm_controller/follow_joint_trajectory"/> -->
    </node>
    <!-- cr3 controller-->
    <node name="cr3_controller" pkg="cr3_lowlevel_pkg" type="cr3_controller.py"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
    </node>

    <include file="$(find cr3_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find cr3_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="true"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find cr3_moveit_config)/launch/moveit_rviz.launch" >
        <arg name="rviz_config" value="$(find cr3_moveit_config)/launch/moveit.rviz"/>
        <arg name="debug" value="false"/>
    </include>
    
    <!-- launch moveit servo -->

    <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
        <param name="parameter_ns" type="string" value="visual_servo" />
        <rosparam ns="visual_servo" command="load" file="$(find cr3_moveit_control)/config/moveit_servo_config.yaml" />
    </node>

    <!-- <node pkg="cr3_moveit_control" type="visual_servo" name="visual_servo" output="screen" /> -->

</launch>
