<!-- ref https://ros-planning.github.io/moveit_tutorials/doc/realtime_servo/realtime_servo_tutorial.html -->
<!-- !!!not use anymore -->

<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find cr3_lowlevel_pkg)/urdf/cr3_robot_w_gripper_seperated.xacro" />

    <!-- GAZEBO arguments -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="world_path" default="$(find cr3_moveit_control)/worlds/pick_and_place_prism.world"/>

    <!--launch GAZEBO with own world configuration -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_path)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model cr3_robot"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find cr3_moveit_config)/config/cr3_control.yaml" command="load"/>
    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
    args= "joint_state_controller cr3_arm_controller cr3_hand_controller" />
    
    <!--load not start yet-->
    <node pkg="controller_manager" type="spawner" name="joint_position_launcher" args="--stopped joint_group_position_controller" />


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
    </node>

    <include file="$(find cr3_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find cr3_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find cr3_moveit_config)/launch/moveit_rviz.launch" >
        <arg name="rviz_config" value="$(find cr3_moveit_config)/launch/moveit.rviz"/>
        <arg name="debug" value="false"/>
    </include>
    
    <!-- launch moveit servo -->

    <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
        <param name="parameter_ns" type="string" value="visual_servo" />
        <rosparam ns="visual_servo" command="load" file="$(find cr3_moveit_control)/config/moveit_servo_config_sim.yaml" />
    </node>

    <!-- <node pkg="cr3_moveit_control" type="visual_servo" name="visual_servo" output="screen" /> -->

</launch>
