<launch>
  <!-- Run serial_node -->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="115200"/>
  </node>

    <!-- Filter and fuse raw imu data -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
        <param name="fixed_frame" value="base_link" />
        <param name="use_mag" value="false" />
        <param name="publish_tf" value="true" />
        <param name="world_frame" value="enu" />
	<param name="orientation_stddev" value="0.1"/>
	<param name="gain" value="0.08"/>
    </node>

</launch>

