<launch>

<rosparam file="$(find walkie2_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="walkie2" args="Rev1_position_controller Rev2_position_controller Slider3_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/walkie2/joint_states"/>
</node>

</launch>